@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;900&family=Barlow+Condensed:wght@400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-navy-900 bg-white;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-condensed;
  }

  .tabular-nums {
    font-variant-numeric: tabular-nums;
  }
}
